<div class="header">
    <h2>Sport Compass Test Blog</h2>
</div>


<div class="new-post-cotainer">
    <div class="new-post-elements">
        <h2>New Post</h2>
        <form>
            <input type="text" class="new-post-title" name="title" #title="ngModel" [(ngModel)]="newPost.title"
                placeholder="Title" />
            <input type="text" class="new-post-title" name="detail" #detail="ngModel" [(ngModel)]="newPost.detail"
                placeholder="Detail" />
            <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

            <input type="button" class="post-button" value="Submit" (click)="createPost()"
                [disabled]="!newPost.title || !newPost.detail" />

            <p>{{successMsg}}</p>
        </form>
    </div>
</div>


<div class="row">
    <div class="leftcolumn">
        <div *ngFor="let post of blogPosts ; let n=index " class="card">
            <div class="post-container">

                <input type="button" class="delete-button" value="Delete" (click)="deletePost(post.id)" />
                <h2>{{post.title}}</h2>
                <h5>{{post.createdAt | date: 'HH:mm dd-MMM,yyyy'}} </h5>
                <p>{{post.detail}}</p>
                <img *ngIf="post.image" src="{{IMAGES_URL+post.image}}" class="post-image" />
                <div class="comments-container">
                    <div>
                        <input type="text" class="new-post-title" name="new-comment" id='new-comment-{{n}}'
                            [(ngModel)]="comments[n]" placeholder="New Comment" />
                        <input type="button" class="comment-button" value="Comment"
                            (click)="createComment(n,post.id)" />
                    </div>

                    <h4>Comments</h4>
                    <div *ngFor="let comment of post.Comments" class="comment">
                        <div>
                            <span class="comment-edit">
                                <button data-id='{{comment.id}}' data-toggle="modal" data-target="#updateCommentModal"
                                    (click)="editComment(comment)">Edit</button></span> |
                            <span class=" comment-delete"><button
                                    (click)="deleteComment(comment.id)">Delete</button></span>
                            <p class="comment-text">{{post.createdAt | date: 'HH:mm dd-MMM,yyyy'}} | {{comment.comment}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- Modal-->
    <div id="updateCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
        class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="exampleModalLabel" class="modal-title">Update Comment!</h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="new-post-title" name="update-comment" id='comment-{{comment.id}}'
                        [(ngModel)]="comment.comment" placeholder="Comment" />
                </div>
                <div class="modal-footer">
                    <button #btnClose type="button" data-dismiss="modal" (click)="cancelUpdateComment()"
                        class="dialog-blue-btn">No</button>
                    <button type="button" class="dialog-cancel-button" (click)="updateComment(comment)">Update</button>
                </div>
            </div>
        </div>
    </div>