* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */

body {
    font-family: Arial;
    padding: 0px;
    background: #f1f1f1;
}

/* Header/Blog Title */

.header {
    padding: 6px;
    font-size: 18px;
    text-align: center;
    background: crimson;
    color: white;
}

.new-post-cotainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-post-elements {
    background: #f2f2f2;
    padding: 4px;
    width: 60%;
}

.new-post-title {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.post-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comments-container {
    max-width: 700px;
    padding: 8px;
}

.comment-button {
    background-color: #4CAF50;
    color: white;
    padding: 3px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

delete-button {
    background-color: #4CAF50;
    color: white;
    padding: 3px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 50px;
}

.comment {}

.comment-edit {}

.comment-delete {}

comment-text {
    background: honeydew;
    width: 96%;
}

.container {
    text-align: center;
}

.float {
    width: 100px;
    height: 400px;
    display: inline-block;
    background: green;
    margin: 5px;
    text-align: left;
}

/* Create two unequal columns that floats next to each other */

/* Left column */

.leftcolumn {
    float: left;
    width: 100%;
}

/* Right column */

.rightcolumn {
    float: left;
    width: 0%;
    padding-left: 20px;
}

/* Fake image */

.post-image {
    background-color: #aaa;
    padding: 10px;
    width: 100%;
    max-width: 700px;
}

/* Add a card effect for articles */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}