<div class="triangle-container">

    <div>
        <label for="sideA">
            Side A
            <input type="text" name="sideA" id="sideA" [(ngModel)]="triangle.a" placeholder="Side A" />
        </label>
        <br>
        <label for="sideA">
            Side B
            <input type="text" name="sideB" id="sideB" [(ngModel)]="triangle.b" placeholder="Side B" />
        </label>

        <br>
        <label for="sideA">
            Side C
            <input type="text" name="sideC" id="sideC" [(ngModel)]="triangle.c" placeholder="Side C" />
        </label>


        <br>

        <input type="button" value="Reset" (click)="reset()" />
        <input type="button" value="Calculate" (click)="getResult()" />

        <h2>Result : {{result}}</h2>
    </div>

</div>